@model ProyWebNoSQL.Entities.Pedidos

@{
    ViewData["Title"] = "Ver Pedido";
}

<h4>Pedido</h4>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaDePago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaDePago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarPedido", new { idPedido = Model.id}) |
    @Html.ActionLink("Regresar", "VerPedidos")
</p>




